src/view/index.pug
extends include/main

block variables
  - let title='{ CheapCode }'

block content
  section#index
    .container
      .index
        .index__title
          h1 – Привет! Это&nbsp;«ЧипКод»
          .index__image
            picture
              source(srcset='/image/illustration/hand.png 1x, /image/illustration/hand@2x.png 2x' type='image/png')
              img(src='/image/illustration/hand.png' loading='eager' alt='image')
        .index__lead Студия разработки мобильных приложений для&nbsp;стартап проектов и бизнеса
      .index-image
        picture
          source(srcset='/image/illustration/index.m.png 1x, /image/illustration/index.m@2x.png 2x' media='(max-width: 767px)' type='image/png')
          source(srcset='/image/illustration/index.png 1x, /image/illustration/index@2x.png 2x' type='image/png')
          img(src='/image/illustration/index.png' loading='eager' alt='image')
      .index-info
        .index-info__text
          p Наша специализация - UX/UI дизайн, фронтенд- разработка, написание сложного кода JavaScript и&nbsp;превращение макетов в HTML.
          p Сделаем рабочий прототип за 5 дней!
        .index-info__button
          .button.button_main
            a.open-popup(href='#request' title='Заказать приложение') Заказать приложение
  section#apps
    .container
      .apps
        .apps__title
          h2
            | Продукты, которые
            br
            | мы уже сделали
      .apps-list
        .apps-list-item
          .apps-list-item__info
            .apps-list-item__label Бизнес
            .apps-list-item__tags ui/ux, ios, android, back-end, admin
            .apps-list-item__title
              h3
                a(href='#' title='В Пакете') В Пакете
            .apps-list-item__desc
              p
                b Сервис доставки продуктов
            .apps-list-item__time
              .apps-list-item__icon
                img(src='/image/icon/timer.svg' alt='icon')
              span 1200 - 1700
              | часов
            .apps-list-item__city
              p
                b Город:
                span Минск, Грозный
            .apps-list-item__category
              p
                b Категория:
                span Доставка продуктов
          .apps-list-item__image
            picture
              source(srcset='/image/app/in_package.m.png 1x, /image/app/in_package.m@2x.png 2x' media='(max-width: 767px)' type='image/png')
              source(srcset='/image/app/in_package.png 1x, /image/app/in_package@2x.png 2x' type='image/png')
              img(src='/image/app/in_package.png' loading='lazy' alt='image')
        .apps-list-item
          .apps-list-item__info
            .apps-list-item__label Наука
            .apps-list-item__tags ui/ux, ios, android, back-end, admin
            .apps-list-item__title
              h3
                a(href='#' title='All papers') All papers
            .apps-list-item__desc
              p
                b Научные статьи
            .apps-list-item__time
              .apps-list-item__icon
                img(src='/image/icon/timer.svg' alt='icon')
              span 500 - 700
              | часов
            .apps-list-item__city
              p
                b Город:
                span Шанхай
            .apps-list-item__category
              p
                b Категория:
                span Наука
          .apps-list-item__image
            picture
              source(srcset='/image/app/all_papers.m.png 1x, /image/app/all_papers.m@2x.png 2x' media='(max-width: 767px)' type='image/png')
              source(srcset='/image/app/all_papers.png 1x, /image/app/all_papers@2x.png 2x' type='image/png')
              img(src='/image/app/all_papers.png' loading='lazy' alt='image')
        .apps-list-item
          .apps-list-item__info
            .apps-list-item__label Бизнес
            .apps-list-item__tags ui/ux, ios, android, back-end, admin
            .apps-list-item__title
              h3
                a(href='#' title='Водолей') Водолей
            .apps-list-item__desc
              p
                b Служба доставки воды
            .apps-list-item__time
              .apps-list-item__icon
                img(src='/image/icon/timer.svg' alt='icon')
              span 500 - 700
              | часов
            .apps-list-item__city
              p
                b Город:
                span Минск
            .apps-list-item__category
              p
                b Категория:
                span Доставка воды
          .apps-list-item__image
            picture
              source(srcset='/image/app/aquarius.m.png 1x, /image/app/aquarius.m@2x.png 2x' media='(max-width: 767px)' type='image/png')
              source(srcset='/image/app/aquarius.png 1x, /image/app/aquarius@2x.png 2x' type='image/png')
              img(src='/image/app/aquarius.png' loading='lazy' alt='image')
        .apps-list-item
          .apps-list-item__title
            h4 Давайте начнём
          form.apps-list-item-form(name='apps_start' autocomplete='off')
            .apps-list-item-form__title Выберите платформы, на которых должно работать мобильное приложение
            fieldset.apps-list-item-form__line
              .radio
                input#ios(type='radio' name='type' value='iOS' checked)
                label(for='ios') iOS
              .radio
                input#android(type='radio' name='type' value='Android')
                label(for='android') Android
              .radio
                input#web(type='radio' name='type' value='Web')
                label(for='web') Web
            fieldset.apps-list-item-form__line
              .apps-list-item-form__column
                label(for='phone') Телефон
                input#phone(type='phone' name='phone' required placeholder='+7' value='')
              .apps-list-item-form__column
                label(for='email') Почта
                input#email(type='email' name='email' required placeholder='' value='')
            fieldset.apps-list-item-form__line
              .apps-list-item-form__block
                label(for='description') Расскажите о своём проекте
                textarea#description(name='description' required placeholder='' value='')
            .apps-list-item-form__button
              .button.button_send.button_disable
                a(href='#' title='Отправить запрос') Отправить запрос
  section#services
    .container
      .services
        .services-nav
          a.active(href='#startups' title='Стартапам') Стартапам
          a(href='#business' title='Бизнесу') Бизнесу
        ul.services-list
          li.services-list-item#startups
            .services-list-item__title Быстрое создание MVP
            ul.services-list-item__info
              li.services-list-item__group
                .services-list-item__problem Проблема
                .services-list-item__text
                  p Нужен срочно какой-то результат?
                  p Для старта есть бюджет не на весь проект?
                  p Не можешь определиться с направлением?
              li.services-list-item__group
                .services-list-item__decision Решение
                .services-list-item__text
                  p Разработка MVP (минимальной версии проекта) позволит за небольшой бюджет быстро получить результат с вариантами дальнейшего развития
              li.services-list-item__group
                .services-list-item__budget
                  | Бюджет: 
                  span от 225 000 ₽
                .services-list-item__date
                  | Срок: 
                  span от 14 дней
                .services-list-item__button
                  .button.button_min
                    a.open-popup(href='#request' title='Оставить заявку') Оставить заявку
            .services-list-item__title Экономия 675 000 ₽
            ul.services-list-item__info
              li.services-list-item__group
                .services-list-item__problem Проблема
                .services-list-item__text
                  p Нужен сразу весь функционал? Фиксированный бюджет на весь проект?
                  p А как быть с правками и доработками?
              li.services-list-item__group
                .services-list-item__decision Решение
                .services-list-item__text
                  p С самого начала можно заказать весь необходимый функционал и быть уверенным, что в запасе ещё будет 300 часов
              li.services-list-item__group
                .services-list-item__budget
                  | Бюджет: 
                  span от 2 700 000 ₽
                .services-list-item__date
                  | Срок: 
                  span от 4 месяцев
                .services-list-item__button
                  .button.button_min
                    a.open-popup(href='#request' title='Оставить заявку') Оставить заявку
          li.services-list-item#business
            .services-list-item__title Первый этап работ
            ul.services-list-item__info
              li.services-list-item__group
                .services-list-item__problem Проблема
                .services-list-item__text
                  p Хотите начать работу без технического задания?
                  p Необходимо понять возможности приложения?
                  p Есть бизнес, но нет проверенного ИТ-специалиста?
              li.services-list-item__group
                .services-list-item__decision Решение
                .services-list-item__text
                  p Напишем функциональные требования, спроектируем главный экран, сделаем смету, подберем технологии и укажем необходимую команду для разработки
              li.services-list-item__group
                .services-list-item__budget
                  | Бюджет: 
                  span 30 000 ₽
                .services-list-item__date
                  | Срок: 
                  span 7 дней
                .services-list-item__button
                  .button.button_min
                    a.open-popup(href='#request' title='Оставить заявку') Оставить заявку
            .services-list-item__title Машинное обучение
            ul.services-list-item__info
              li.services-list-item__group
                .services-list-item__problem Проблема
                .services-list-item__text
                  p Нужна рекомендательная smart-подборка товаров и услуг?
                  p Хотите построить диалоговый чат-бот с обработкой речи?
                  p Необходим результат на основании совершенных действий?
              li.services-list-item__group
                .services-list-item__decision Решение
                .services-list-item__text
                  p Подберем наиболее подходящую платформу, сегментируем имеющиеся и поступающие данные в эффективное обучение разработанных алгоритмов
              li.services-list-item__group
                .services-list-item__budget
                  | Бюджет: 
                  span от 225 000 ₽
                .services-list-item__date
                  | Срок: 
                  span от 30 дней
                .services-list-item__button
                  .button.button_min
                    a.open-popup(href='#request' title='Оставить заявку') Оставить заявку
  section#mobile
    .container
      .mobile
        .mobile__title
          h2
            | Выберите услугу по разработке
            br
            | мобильного приложения
      .mobile-list
        .mobile-list__title
          h5 Услуги под ключ:
        .mobile-list__info
          a.mobile-list-item(href='#' title='Разработка мобильного приложения (iOS, Android)')
            .mobile-list-item__title Разработка мобильного приложения (iOS, Android)
            .mobile-list-item__group
              .mobile-list-item__price
                | от 
                span 225 000
                |  ₽
              .mobile-list-item__time
                | от 
                span 20
                |  дней
          a.mobile-list-item(href='#' title='')
            .mobile-list-item__title Разработка приложения и серверной части
            .mobile-list-item__group
              .mobile-list-item__price
                | от 
                span 675 000
                |  ₽
              .mobile-list-item__time
                | от 
                span 30
                |  дней
        .mobile-list__title
          h5 Услуги отдельных этапов работ:
        .mobile-list__info
          a.mobile-list-item(href='#' title='')
            .mobile-list-item__title Консультация
            .mobile-list-item__group
              .mobile-list-item__price
                span Бесплатно
              .mobile-list-item__time
                span 30
                |  минут
          a.mobile-list-item(href='#' title='')
            .mobile-list-item__title Первый этап работ
            .mobile-list-item__group
              .mobile-list-item__price
                span 30 000
                |  ₽
              .mobile-list-item__time
                span 7
                |  дней
          a.mobile-list-item(href='#' title='')
            .mobile-list-item__title Написание технического задание
            .mobile-list-item__group
              .mobile-list-item__price
                | от 
                span 36 000
                |  ₽
              .mobile-list-item__time
                | от 
                span 5
                |  дней
          a.mobile-list-item(href='#' title='')
            .mobile-list-item__title Проектирование UI/UX
            .mobile-list-item__group
              .mobile-list-item__price
                | от 
                span 36 000
                |  ₽
              .mobile-list-item__time
                | от 
                span 5
                |  дней
          a.mobile-list-item(href='#' title='')
            .mobile-list-item__title Дизайн UI/UX
            .mobile-list-item__group
              .mobile-list-item__price
                | от 
                span 54 000
                |  ₽
              .mobile-list-item__time
                | от 
                span 7
                |  дней
          a.mobile-list-item(href='#' title='')
            .mobile-list-item__title Создание архитектуры проекта
            .mobile-list-item__group
              .mobile-list-item__price
                | от 
                span 27 000
                |  ₽
              .mobile-list-item__time
                | от 
                span 3
                |  дней
          a.mobile-list-item(href='#' title='')
            .mobile-list-item__title Серверная часть (веб-сервисы, БД, API)
            .mobile-list-item__group
              .mobile-list-item__price
                | от 
                span 67 500
                |  ₽
              .mobile-list-item__time
                | от 
                span 5
                |  дней
          a.mobile-list-item(href='#' title='')
            .mobile-list-item__title Доработки существующего приложения
            .mobile-list-item__group
              .mobile-list-item__price
                | от 
                span 22 500
                |  ₽
              .mobile-list-item__time
                | от 
                span 3
                |  дней
          a.mobile-list-item(href='#' title='')
            .mobile-list-item__title Тестирование и менеджмент
            .mobile-list-item__group
              .mobile-list-item__price
                | от 
                span 18 500
                |  ₽
              .mobile-list-item__time
                | от 
                span 3
                |  дней
          a.mobile-list-item(href='#' title='')
            .mobile-list-item__title Разработка сайтов (веб-сайт, админ-панель)
            .mobile-list-item__group
              .mobile-list-item__price
                | от 
                span 67 500
                |  ₽
              .mobile-list-item__time
                | от 
                span 10
                |  дней
          a.mobile-list-item(href='#' title='')
            .mobile-list-item__title Машинное обучение (Нейронные сети, Deep Learning)
            .mobile-list-item__group
              .mobile-list-item__price
                | от 
                span 225 000
                |  ₽
              .mobile-list-item__time
                | от 
                span 30
                |  дней
          a.mobile-list-item(href='#' title='')
            .mobile-list-item__title Довести до идеала
            .mobile-list-item__group
              .mobile-list-item__price
                | от 
                span 2 700 000
                |  ₽
              .mobile-list-item__time
                | от 
                span 4
                |  месяцев
          a.mobile-list-item(href='#' title='')
            .mobile-list-item__title Быстрое создание MVP
            .mobile-list-item__group
              .mobile-list-item__price
                | от 
                span 225 000
                |  ₽
              .mobile-list-item__time
                | от 
                span 14
                |  дней
        .mobile-list__title
          h5 Поддержка:
        .mobile-list__info
          a.mobile-list-item(href='#' title='')
            .mobile-list-item__title Бесплатная техническая поддержка
            .mobile-list-item__group
              .mobile-list-item__price
                span Бесплатно
              .mobile-list-item__time
                span 1
                |  год
          a.mobile-list-item(href='#' title='')
            .mobile-list-item__title Премиальная техническая поддержка
            .mobile-list-item__group
              .mobile-list-item__price
                | от 
                span 52 500
                |  ₽
              .mobile-list-item__time
                span 1
                |  месяц

public/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{ CheapCode }</title>
    <!-- meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ilya Korotkov ilushkeens@gmail.com">
    <!-- icon & css-->
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="/assets/css/main.css?v=3ab1754" rel="stylesheet"></head>
  <body>
    <div id="app">
<header>
  <div class="container">
    <div class="header">
      <div class="header-logo"><a href="/" title="CheapCode">
          <svg>
            <use href="/image/logo.svg#logo"></use>
          </svg></a></div>
      <div class="header-social">
        <div class="header-social__icon"><a href="tg://resolve?domain=rukonovalov" title="Написать в Telegram">
            <svg>
              <use href="/image/icon/telegram.svg#telegram"></use>
            </svg></a></div>
        <div class="header-social__icon"><a href="//wa.me/+79689649988" target="_blank" title="Написать в WhatsApp">
            <svg>
              <use href="/image/icon/whatsapp.svg#whatsapp"></use>
            </svg></a></div>
      </div>
    </div>
  </div>
</header>
      <main>
        <section id="index">
          <div class="container">
            <div class="index">
              <div class="index__title">
                <h1>– Привет! Это&nbsp;«ЧипКод»</h1>
                <div class="index__image">
                  <picture>
                    <source srcset="/image/illustration/hand.png 1x, /image/illustration/hand@2x.png 2x" type="image/png"><img src="/image/illustration/hand.png" loading="eager" alt="image">
                  </picture>
                </div>
              </div>
              <div class="index__lead">Студия разработки мобильных приложений для&nbsp;стартап проектов и бизнеса</div>
            </div>
            <div class="index-image">
              <picture>
                <source srcset="/image/illustration/index.m.png 1x, /image/illustration/index.m@2x.png 2x" media="(max-width: 767px)" type="image/png">
                <source srcset="/image/illustration/index.png 1x, /image/illustration/index@2x.png 2x" type="image/png"><img src="/image/illustration/index.png" loading="eager" alt="image">
              </picture>
            </div>
            <div class="index-info">
              <div class="index-info__text">
                <p>Наша специализация - UX/UI дизайн, фронтенд- разработка, написание сложного кода JavaScript и&nbsp;превращение макетов в HTML.</p>
                <p>Сделаем рабочий прототип за 5 дней!</p>
              </div>
              <div class="index-info__button">
                <div class="button button_main"><a class="open-popup" href="#request" title="Заказать приложение">Заказать приложение</a></div>
              </div>
            </div>
          </div>
        </section>
        <section id="apps">
          <div class="container">
            <div class="apps">
              <div class="apps__title">
                <h2>Продукты, которые<br>мы уже сделали</h2>
              </div>
            </div>
            <div class="apps-list">
              <div class="apps-list-item">
                <div class="apps-list-item__info">
                  <div class="apps-list-item__label">Бизнес</div>
                  <div class="apps-list-item__tags">ui/ux, ios, android, back-end, admin</div>
                  <div class="apps-list-item__title">
                    <h3><a href="#" title="В Пакете">В Пакете</a></h3>
                  </div>
                  <div class="apps-list-item__desc">
                    <p><b>Сервис доставки продуктов</b></p>
                  </div>
                  <div class="apps-list-item__time">
                    <div class="apps-list-item__icon"><img src="/image/icon/timer.svg" alt="icon"></div><span>1200 - 1700</span>часов
                  </div>
                  <div class="apps-list-item__city">
                    <p><b>Город:</b><span>Минск, Грозный</span></p>
                  </div>
                  <div class="apps-list-item__category">
                    <p><b>Категория:</b><span>Доставка продуктов</span></p>
                  </div>
                </div>
                <div class="apps-list-item__image">
                  <picture>
                    <source srcset="/image/app/in_package.m.png 1x, /image/app/in_package.m@2x.png 2x" media="(max-width: 767px)" type="image/png">
                    <source srcset="/image/app/in_package.png 1x, /image/app/in_package@2x.png 2x" type="image/png"><img src="/image/app/in_package.png" loading="lazy" alt="image">
                  </picture>
                </div>
              </div>
              <div class="apps-list-item">
                <div class="apps-list-item__info">
                  <div class="apps-list-item__label">Наука</div>
                  <div class="apps-list-item__tags">ui/ux, ios, android, back-end, admin</div>
                  <div class="apps-list-item__title">
                    <h3><a href="#" title="All papers">All papers</a></h3>
                  </div>
                  <div class="apps-list-item__desc">
                    <p><b>Научные статьи</b></p>
                  </div>
                  <div class="apps-list-item__time">
                    <div class="apps-list-item__icon"><img src="/image/icon/timer.svg" alt="icon"></div><span>500 - 700</span>часов
                  </div>
                  <div class="apps-list-item__city">
                    <p><b>Город:</b><span>Шанхай</span></p>
                  </div>
                  <div class="apps-list-item__category">
                    <p><b>Категория:</b><span>Наука</span></p>
                  </div>
                </div>
                <div class="apps-list-item__image">
                  <picture>
                    <source srcset="/image/app/all_papers.m.png 1x, /image/app/all_papers.m@2x.png 2x" media="(max-width: 767px)" type="image/png">
                    <source srcset="/image/app/all_papers.png 1x, /image/app/all_papers@2x.png 2x" type="image/png"><img src="/image/app/all_papers.png" loading="lazy" alt="image">
                  </picture>
                </div>
              </div>
              <div class="apps-list-item">
                <div class="apps-list-item__info">
                  <div class="apps-list-item__label">Бизнес</div>
                  <div class="apps-list-item__tags">ui/ux, ios, android, back-end, admin</div>
                  <div class="apps-list-item__title">
                    <h3><a href="#" title="Водолей">Водолей</a></h3>
                  </div>
                  <div class="apps-list-item__desc">
                    <p><b>Служба доставки воды</b></p>
                  </div>
                  <div class="apps-list-item__time">
                    <div class="apps-list-item__icon"><img src="/image/icon/timer.svg" alt="icon"></div><span>500 - 700</span>часов
                  </div>
                  <div class="apps-list-item__city">
                    <p><b>Город:</b><span>Минск</span></p>
                  </div>
                  <div class="apps-list-item__category">
                    <p><b>Категория:</b><span>Доставка воды</span></p>
                  </div>
                </div>
                <div class="apps-list-item__image">
                  <picture>
                    <source srcset="/image/app/aquarius.m.png 1x, /image/app/aquarius.m@2x.png 2x" media="(max-width: 767px)" type="image/png">
                    <source srcset="/image/app/aquarius.png 1x, /image/app/aquarius@2x.png 2x" type="image/png"><img src="/image/app/aquarius.png" loading="lazy" alt="image">
                  </picture>
                </div>
              </div>
              <div class="apps-list-item">
                <div class="apps-list-item__title">
                  <h4>Давайте начнём</h4>
                </div>
                <form class="apps-list-item-form" name="apps_start" autocomplete="off">
                  <div class="apps-list-item-form__title">Выберите платформы, на которых должно работать мобильное приложение</div>
                  <fieldset class="apps-list-item-form__line">
                    <div class="radio">
                      <input id="ios" type="radio" name="type" value="iOS" checked>
                      <label for="ios">iOS</label>
                    </div>
                    <div class="radio">
                      <input id="android" type="radio" name="type" value="Android">
                      <label for="android">Android</label>
                    </div>
                    <div class="radio">
                      <input id="web" type="radio" name="type" value="Web">
                      <label for="web">Web</label>
                    </div>
                  </fieldset>
                  <fieldset class="apps-list-item-form__line">
                    <div class="apps-list-item-form__column">
                      <label for="phone">Телефон</label>
                      <input id="phone" type="phone" name="phone" required placeholder="+7" value="">
                    </div>
                    <div class="apps-list-item-form__column">
                      <label for="email">Почта</label>
                      <input id="email" type="email" name="email" required placeholder="" value="">
                    </div>
                  </fieldset>
                  <fieldset class="apps-list-item-form__line">
                    <div class="apps-list-item-form__block">
                      <label for="description">Расскажите о своём проекте</label>
                      <textarea id="description" name="description" required placeholder="" value=""></textarea>
                    </div>
                  </fieldset>
                  <div class="apps-list-item-form__button">
                    <div class="button button_send button_disable"><a href="#" title="Отправить запрос">Отправить запрос</a></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
        <section id="services">
          <div class="container">
            <div class="services">
              <div class="services-nav"><a class="active" href="#startups" title="Стартапам">Стартапам</a><a href="#business" title="Бизнесу">Бизнесу</a></div>
              <ul class="services-list">
                <li class="services-list-item" id="startups">
                  <div class="services-list-item__title">Быстрое создание MVP</div>
                  <ul class="services-list-item__info">
                    <li class="services-list-item__group">
                      <div class="services-list-item__problem">Проблема</div>
                      <div class="services-list-item__text">
                        <p>Нужен срочно какой-то результат?</p>
                        <p>Для старта есть бюджет не на весь проект?</p>
                        <p>Не можешь определиться с направлением?</p>
                      </div>
                    </li>
                    <li class="services-list-item__group">
                      <div class="services-list-item__decision">Решение</div>
                      <div class="services-list-item__text">
                        <p>Разработка MVP (минимальной версии проекта) позволит за небольшой бюджет быстро получить результат с вариантами дальнейшего развития</p>
                      </div>
                    </li>
                    <li class="services-list-item__group">
                      <div class="services-list-item__budget">Бюджет: <span>от 225 000 ₽</span></div>
                      <div class="services-list-item__date">Срок: <span>от 14 дней</span></div>
                      <div class="services-list-item__button">
                        <div class="button button_min"><a class="open-popup" href="#request" title="Оставить заявку">Оставить заявку</a></div>
                      </div>
                    </li>
                  </ul>
                  <div class="services-list-item__title">Экономия 675 000 ₽</div>
                  <ul class="services-list-item__info">
                    <li class="services-list-item__group">
                      <div class="services-list-item__problem">Проблема</div>
                      <div class="services-list-item__text">
                        <p>Нужен сразу весь функционал? Фиксированный бюджет на весь проект?</p>
                        <p>А как быть с правками и доработками?</p>
                      </div>
                    </li>
                    <li class="services-list-item__group">
                      <div class="services-list-item__decision">Решение</div>
                      <div class="services-list-item__text">
                        <p>С самого начала можно заказать весь необходимый функционал и быть уверенным, что в запасе ещё будет 300 часов</p>
                      </div>
                    </li>
                    <li class="services-list-item__group">
                      <div class="services-list-item__budget">Бюджет: <span>от 2 700 000 ₽</span></div>
                      <div class="services-list-item__date">Срок: <span>от 4 месяцев</span></div>
                      <div class="services-list-item__button">
                        <div class="button button_min"><a class="open-popup" href="#request" title="Оставить заявку">Оставить заявку</a></div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="services-list-item" id="business">
                  <div class="services-list-item__title">Первый этап работ</div>
                  <ul class="services-list-item__info">
                    <li class="services-list-item__group">
                      <div class="services-list-item__problem">Проблема</div>
                      <div class="services-list-item__text">
                        <p>Хотите начать работу без технического задания?</p>
                        <p>Необходимо понять возможности приложения?</p>
                        <p>Есть бизнес, но нет проверенного ИТ-специалиста?</p>
                      </div>
                    </li>
                    <li class="services-list-item__group">
                      <div class="services-list-item__decision">Решение</div>
                      <div class="services-list-item__text">
                        <p>Напишем функциональные требования, спроектируем главный экран, сделаем смету, подберем технологии и укажем необходимую команду для разработки</p>
                      </div>
                    </li>
                    <li class="services-list-item__group">
                      <div class="services-list-item__budget">Бюджет: <span>30 000 ₽</span></div>
                      <div class="services-list-item__date">Срок: <span>7 дней</span></div>
                      <div class="services-list-item__button">
                        <div class="button button_min"><a class="open-popup" href="#request" title="Оставить заявку">Оставить заявку</a></div>
                      </div>
                    </li>
                  </ul>
                  <div class="services-list-item__title">Машинное обучение</div>
                  <ul class="services-list-item__info">
                    <li class="services-list-item__group">
                      <div class="services-list-item__problem">Проблема</div>
                      <div class="services-list-item__text">
                        <p>Нужна рекомендательная smart-подборка товаров и услуг?</p>
                        <p>Хотите построить диалоговый чат-бот с обработкой речи?</p>
                        <p>Необходим результат на основании совершенных действий?</p>
                      </div>
                    </li>
                    <li class="services-list-item__group">
                      <div class="services-list-item__decision">Решение</div>
                      <div class="services-list-item__text">
                        <p>Подберем наиболее подходящую платформу, сегментируем имеющиеся и поступающие данные в эффективное обучение разработанных алгоритмов</p>
                      </div>
                    </li>
                    <li class="services-list-item__group">
                      <div class="services-list-item__budget">Бюджет: <span>от 225 000 ₽</span></div>
                      <div class="services-list-item__date">Срок: <span>от 30 дней</span></div>
                      <div class="services-list-item__button">
                        <div class="button button_min"><a class="open-popup" href="#request" title="Оставить заявку">Оставить заявку</a></div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <section id="mobile">
          <div class="container">
            <div class="mobile">
              <div class="mobile__title">
                <h2>Выберите услугу по разработке<br>мобильного приложения</h2>
              </div>
            </div>
            <div class="mobile-list">
              <div class="mobile-list__title">
                <h5>Услуги под ключ:</h5>
              </div>
              <div class="mobile-list__info"><a class="mobile-list-item" href="#" title="Разработка мобильного приложения (iOS, Android)">
                  <div class="mobile-list-item__title">Разработка мобильного приложения (iOS, Android)</div>
                  <div class="mobile-list-item__group">
                    <div class="mobile-list-item__price">от <span>225 000</span> ₽</div>
                    <div class="mobile-list-item__time">от <span>20</span> дней</div>
                  </div></a><a class="mobile-list-item" href="#" title="">
                  <div class="mobile-list-item__title">Разработка приложения и серверной части</div>
                  <div class="mobile-list-item__group">
                    <div class="mobile-list-item__price">от <span>675 000</span> ₽</div>
                    <div class="mobile-list-item__time">от <span>30</span> дней</div>
                  </div></a></div>
              <div class="mobile-list__title">
                <h5>Услуги отдельных этапов работ:</h5>
              </div>
              <div class="mobile-list__info"><a class="mobile-list-item" href="#" title="">
                  <div class="mobile-list-item__title">Консультация</div>
                  <div class="mobile-list-item__group">
                    <div class="mobile-list-item__price"><span>Бесплатно</span></div>
                    <div class="mobile-list-item__time"><span>30</span> минут</div>
                  </div></a><a class="mobile-list-item" href="#" title="">
                  <div class="mobile-list-item__title">Первый этап работ</div>
                  <div class="mobile-list-item__group">
                    <div class="mobile-list-item__price"><span>30 000</span> ₽</div>
                    <div class="mobile-list-item__time"><span>7</span> дней</div>
                  </div></a><a class="mobile-list-item" href="#" title="">
                  <div class="mobile-list-item__title">Написание технического задание</div>
                  <div class="mobile-list-item__group">
                    <div class="mobile-list-item__price">от <span>36 000</span> ₽</div>
                    <div class="mobile-list-item__time">от <span>5</span> дней</div>
                  </div></a><a class="mobile-list-item" href="#" title="">
                  <div class="mobile-list-item__title">Проектирование UI/UX</div>
                  <div class="mobile-list-item__group">
                    <div class="mobile-list-item__price">от <span>36 000</span> ₽</div>
                    <div class="mobile-list-item__time">от <span>5</span> дней</div>
                  </div></a><a class="mobile-list-item" href="#" title="">
                  <div class="mobile-list-item__title">Дизайн UI/UX</div>
                  <div class="mobile-list-item__group">
                    <div class="mobile-list-item__price">от <span>54 000</span> ₽</div>
                    <div class="mobile-list-item__time">от <span>7</span> дней</div>
                  </div></a><a class="mobile-list-item" href="#" title="">
                  <div class="mobile-list-item__title">Создание архитектуры проекта</div>
                  <div class="mobile-list-item__group">
                    <div class="mobile-list-item__price">от <span>27 000</span> ₽</div>
                    <div class="mobile-list-item__time">от <span>3</span> дней</div>
                  </div></a><a class="mobile-list-item" href="#" title="">
                  <div class="mobile-list-item__title">Серверная часть (веб-сервисы, БД, API)</div>
                  <div class="mobile-list-item__group">
                    <div class="mobile-list-item__price">от <span>67 500</span> ₽</div>
                    <div class="mobile-list-item__time">от <span>5</span> дней</div>
                  </div></a><a class="mobile-list-item" href="#" title="">
                  <div class="mobile-list-item__title">Доработки существующего приложения</div>
                  <div class="mobile-list-item__group">
                    <div class="mobile-list-item__price">от <span>22 500</span> ₽</div>
                    <div class="mobile-list-item__time">от <span>3</span> дней</div>
                  </div></a><a class="mobile-list-item" href="#" title="">
                  <div class="mobile-list-item__title">Тестирование и менеджмент</div>
                  <div class="mobile-list-item__group">
                    <div class="mobile-list-item__price">от <span>18 500</span> ₽</div>
                    <div class="mobile-list-item__time">от <span>3</span> дней</div>
                  </div></a><a class="mobile-list-item" href="#" title="">
                  <div class="mobile-list-item__title">Разработка сайтов (веб-сайт, админ-панель)</div>
                  <div class="mobile-list-item__group">
                    <div class="mobile-list-item__price">от <span>67 500</span> ₽</div>
                    <div class="mobile-list-item__time">от <span>10</span> дней</div>
                  </div></a><a class="mobile-list-item" href="#" title="">
                  <div class="mobile-list-item__title">Машинное обучение (Нейронные сети, Deep Learning)</div>
                  <div class="mobile-list-item__group">
                    <div class="mobile-list-item__price">от <span>225 000</span> ₽</div>
                    <div class="mobile-list-item__time">от <span>30</span> дней</div>
                  </div></a><a class="mobile-list-item" href="#" title="">
                  <div class="mobile-list-item__title">Довести до идеала</div>
                  <div class="mobile-list-item__group">
                    <div class="mobile-list-item__price">от <span>2 700 000</span> ₽</div>
                    <div class="mobile-list-item__time">от <span>4</span> месяцев</div>
                  </div></a><a class="mobile-list-item" href="#" title="">
                  <div class="mobile-list-item__title">Быстрое создание MVP</div>
                  <div class="mobile-list-item__group">
                    <div class="mobile-list-item__price">от <span>225 000</span> ₽</div>
                    <div class="mobile-list-item__time">от <span>14</span> дней</div>
                  </div></a></div>
              <div class="mobile-list__title">
                <h5>Поддержка:</h5>
              </div>
              <div class="mobile-list__info"><a class="mobile-list-item" href="#" title="">
                  <div class="mobile-list-item__title">Бесплатная техническая поддержка</div>
                  <div class="mobile-list-item__group">
                    <div class="mobile-list-item__price"><span>Бесплатно</span></div>
                    <div class="mobile-list-item__time"><span>1</span> год</div>
                  </div></a><a class="mobile-list-item" href="#" title="">
                  <div class="mobile-list-item__title">Премиальная техническая поддержка</div>
                  <div class="mobile-list-item__group">
                    <div class="mobile-list-item__price">от <span>52 500</span> ₽</div>
                    <div class="mobile-list-item__time"><span>1</span> месяц</div>
                  </div></a></div>
            </div>
          </div>
        </section>
      </main>
<footer>
  <div class="container">
    <div class="footer">
      <div class="footer-logo">
        <svg>
          <use href="/image/logo_footer.svg#logo"></use>
        </svg>
      </div>
      <div class="footer-info">
        <div class="footer-info__copyright">
          <p><span>©</span>2012 — 2021. Все права защищены</p>
        </div>
        <div class="footer-info__link"><a href="#" title="Политика конфиденциальности">Политика конфиденциальности</a></div>
      </div>
      <div class="footer-social">
        <div class="footer-social__icon"><a href="tg://resolve?domain=rukonovalov" title="Написать в Telegram">
            <svg>
              <use href="/image/icon/telegram.svg#telegram"></use>
            </svg></a></div>
        <div class="footer-social__icon"><a href="//wa.me/+79689649988" target="_blank" title="Написать в WhatsApp">
            <svg>
              <use href="/image/icon/whatsapp.svg#whatsapp"></use>
            </svg></a></div>
      </div>
    </div>
  </div>
</footer>
    </div>
<!-- popup-->
<div id="popup">
  <div class="overlay">
    <div class="close-popup"></div>
    <!-- заказ приложения-->
    <div class="module" id="request"><a class="close-popup" href="#" title="Закрыть окно">
        <svg>
          <use href="/image/icon/close.svg#close"></use>
        </svg></a>
      <div class="request">
        <form class="request-form" name="call_request" autocomplete="off">
          <div class="request-form__title">Выберите платформу</div>
          <div class="request-form__text">
            <p>Отметьте платформы, на которых должно работать мобильное приложение</p>
          </div>
          <fieldset class="request-form__line">
            <input id="request-type" type="hidden" name="type" value="iOS">
            <div class="choice"><a class="ios active" href="#" data-value="iOS" title="iOS">
                <svg>
                  <use href="/image/icon/ios.svg#ios"></use>
                </svg><span>iOS</span></a></div>
            <div class="choice"><a class="android" href="#" data-value="Android" title="Android">
                <svg>
                  <use href="/image/icon/android.svg#android"></use>
                </svg><span>Android</span></a></div>
            <div class="choice"><a class="web" href="#" data-value="Web" title="Web">
                <svg>
                  <use href="/image/icon/web.svg#web"></use>
                </svg><span>Web</span></a></div>
          </fieldset>
          <div class="request-form__title">Опишите задачу</div>
          <div class="request-form__text">
            <p>Понимание идеи предстоящей задачи позволяет задать уточняющие вопросы по сути и сократить время на ознакомление</p>
          </div>
          <fieldset class="request-form__line">
            <div class="request-form__block">
              <textarea id="request-description" name="description" required placeholder="Введите текст либо вставьте ссылку на документ..." value=""></textarea>
            </div>
          </fieldset>
          <div class="request-form__title">Укажите персональные данные</div>
          <div class="request-form__text">
            <p>Обработка заявки может занять до нескольких дней</p>
          </div>
          <fieldset class="request-form__line">
            <div class="request-form__column">
              <label for="request-phone">Телефон</label>
              <input id="request-phone" type="phone" name="phone" required placeholder="+7" value="">
            </div>
            <div class="request-form__column">
              <label for="request-email">Почта</label>
              <input id="request-email" type="email" name="email" required placeholder="" value="">
            </div>
            <div class="request-form__button">
              <div class="button button_send button_disable"><a href="#" title="Отправить заявку">Отправить заявку</a></div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- popup end-->
    <!-- js-->
  <script defer src="/assets/js/vendors.js?v=168b6a0"></script><script defer src="/assets/js/main.js?v=46b5a56"></script></body>
</html>
